.products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.main-content {
  max-width: 72rem;
  min-height: 100vh;
  padding: 0 0.75rem;
  margin: 0 auto;
}

.btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

/* Style the first section */
.category-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--primary-color);
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.25rem;
}

.category-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary-color);
  border-bottom: 1px solid #88888859;
}

.sub-category-desc {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

.product-count {
  font-size: 1rem;
  color: #888888d6;
}

/* Sort and filter container */
.sort-filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.625rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .products-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 425px) {
  .products-list {
    grid-template-columns: 1fr;
  }
}
