/* Variables */
:root {
  --primary-color: #feffff;
  --secondary-color: #192937;
  --accent-color: #1877f2;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: var(--primary-color);
}