.sidenav {
  max-width: 18.75rem;
  overflow: hidden;
  width: 85%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #ffffff;
  transform: translateX(-100%);
  opacity: 0;
}

.sidenav.open {
  opacity: 1;
  animation: slideIn 0.3s ease-out;
  transform: translateX(0);
}

.sidenavHeader {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 1rem;
  font-size: 1rem;
}

/* Style the category menu list */
.sidenav.open ul li,
h3 {
  padding-left: 1rem;
}

.sidenav.open a {
  text-decoration: none;
  color: unset;
}

.category-menu {
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--secondary-color);
}

.category-menu ul,
.subcategory-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-menu li,
.subcategory-menu li {
  padding: 8px 0;
}

.category-menu li:hover,
.sidenav.open li:hover {
  background-color: #f4f4f4;
  color: var(--accent-color);
  cursor: pointer;
}

.category-menu li.active {
  color: var(--accent-color);
  background-color: #f4f4f4;
}

/* Style the subcategory menu list */
.subcategory-menu {
  padding-top: 1rem;
}

.subcategory-menu span {
  color: var(--accent-color);
}

/* Transition animations */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
